{% extends "layout.twig" %}

{% block conteudo %}

	{% for key, value in posts %}

		Post id: {{key}}<br>
		Conteúdo: {{value}}<br>
		<a href="{{ path('index')}}">Voltar</a>

	{% endfor %}

{% endblock %}