{% extends "layout.twig" %}

{% block titulo %}

	<blockquote class="blockquote text-center">
		<h2>Lista de posts</h2>
		<h6>
			<a href="{{ path('cadastrar') }}">Cadastrar novo post</a>
		</h6>

	</blockquote>

{% endblock %}

{% block conteudo %}


	{% for key, value in posts %}

		<div class="card">
			<div class="card-header">
				Post: <a href='{{ path('links', { id: key }) }}' class="badge badge-pill badge-dark">{{ value.titulo }}</a> 
				<br>
			</div>
		</div>
		<br>

	{% endfor %}

{% endblock %}